[submodule "DotNet_Angular/vertex-ui-disclosure-management"]
	path = DotNet_Angular/vertex-ui-disclosure-management
	url = https://github.com/SE-Sustainability-Business/vertex-ui-disclosure-management.git
[submodule "DotNet_Angular/vertex-disclosure-management-api"]
	path = DotNet_Angular/vertex-disclosure-management-api
	url = https://github.com/SE-Sustainability-Business/vertex-disclosure-management-api.git
[submodule "DotNet_Angular/vertex-bff-disclosure-management"]
	path = DotNet_Angular/vertex-bff-disclosure-management
	url = https://github.com/SE-Sustainability-Business/vertex-bff-disclosure-management.git
[submodule "DotNet_Angular/vertex-ui-shared"]
	path = DotNet_Angular/vertex-ui-shared
	url = https://github.com/SE-Sustainability-Business/vertex-ui-shared.git
